

<nav class="navbar navbar-expand-md navbar-custom navbar-light sticky-top">
    <div class="container p-1">
        <a href="index.html" class="navbar-brand h1 mb-0">
            <!-- <img src="../assets/icon.png" alt=""> -->
            ArcherEats
        </a>
        <form class="d-flex position-relative search-container mb-0">
            <input type="text" class="form-control" placeholder="Search establishments">
            <button type="submit" class="btn btn-success position-absolute end-0"><i class="fa fa-search"></i></button>
        </form>
        <ul class="navbar-nav">
        </ul>
    </div>
</nav>